body, p {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  -webkit-font-rendering: optimzelegitibility;
}
label, input, select, textarea { font-family: 'Open Sans', Arial, Helvetica, sans-serif }

body {
  background: #fefefe;
}

.navbar {
  padding-top: 10px;
}

.testimonial-list {
  list-style: none;
}

.profile .name {
  text-align: center;
}

::selection {
  background: #ccc;
  background: rgba(0, 0, 0, 0.05);
}
::-moz-selection {
  background: #ccc;
  background: rgba(0, 0, 0, 0.05);
}
::-webkit-selection {
  background: #ccc;
  background: rgba(0, 0, 0, 0.05);
}